@import "reset";
@import "grid";

h1, h2, h3, h4, h5, h6, p, a, li, ul {

    color: rgb(22, 22, 22);
}



body {
    font-family: 'Alegreya Sans', sans-serif;

}


h1 {
    font-size: 70px;
    font-family: 'Shadows Into Light', cursive;


}

h2 {
    font-size: 25px;

}







.intro {
    background-color: rgb(248, 217, 251);
    overflow: hidden;
    text-align: center;


    h2 {
        margin-top: 20px;
    }

    img {
        margin-top: 20px;
        max-width: 160px;
        position: relative;
        bottom: -70px;
    }
}

.nav-links {

        text-align: center;
        margin: 30px 0 15px 0;
        padding: 10px;

    li {

        display: inline;
        margin-left: 30px;
        font-size: 25px;
        text-decoration: none;


        &:first-child {
            margin-left: 0;
        }


        a {
            text-decoration: none;
            border: 3px solid white;
            border-radius: 100%;
            padding: 10px;
            transition: border-radius 0.2s linear;


            &:hover {

                border-radius: 30%;
            }
        }
    }
}







.about {
    text-align: center;
    padding: 100px 0;

    img {
        max-width: 100px;
    }

    p {
        max-width: 150px;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 18px;
        line-height: 1.5em;
    }

}